
@font-face {
  font-family: 'OpenSans';
  src: url('../../assets/fonts/OpenSans.eot');
  src: url('../../assets/fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/OpenSans.woff2') format('woff2'),
  url('../../assets/fonts/OpenSans.woff') format('woff'),
  url('../../assets/fonts/OpenSans.ttf') format('truetype'),
  url('../../assets/fonts/OpenSans.svg#OpenSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OxfamGlobalHeadline-Regular';
  src: url('../../assets/fonts/OxfamGlobalHeadline-Regular.eot');
  src: url('../../assets/fonts/OxfamGlobalHeadline-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/OxfamGlobalHeadline-Regular.woff2') format('woff2'),
  url('../../assets/fonts/OxfamGlobalHeadline-Regular.woff') format('woff'),
  url('../../assets/fonts/OxfamGlobalHeadline-Regular.ttf') format('truetype'),
  url('../../assets/fonts/OxfamGlobalHeadline-Regular.svg#OxfamGlobalHeadline-Regular') format('svg');
  font-weight: bold;
  font-style: normal;
}

