<header data-ng-include src="'app/views/header.html'" ng-controller="MainControllerOxfam as oxfam"></header>
<div class="contacto">
  <div class="izq">
    <h1>CONTACTO</h1>
    <p class="text-a">PUEDE CONTACTARSE CON NOSOTROS EN:</p>
    <p class="text-b">Rosa Cañete Alonso</p>
    <p>Tel.</p>
    <p>Fax.</p>
    <p>rmcanete@oxfamintermon.org</p>

    <p class="text-b">Pablo Andres Rivera</p>
    <p>Calle 16 no. 8232, entre calles Claudio Aliaga y Prudencio, Calacoto, La Paz, Bolivia</p>
    <p>Telf. (+591-2)2771775 - 2791947 int. 107</p>
    <p>parivero@oxfamintermon.org</p>

    <p class="text-b">Raquel Checa</p>
    <p>Tel.</p>
    <p>Fax.</p>
    <p>rcheca@oxfamintermon.org</p>
  </div>

  <div class="der">
    <h3>MEDIANTE EL SIGUIENTE FORMULARIO</h3>
    <form action="">
      <label>Nombre</label>     <input type="text">
      <label>Email</label>      <input type="text">
      <label>Telefono</label>   <input type="text">
      <label>Direccion</label>  <input type="text">
      <label>Mensaje</label>    <input type="text" class="text-men">
      <div class="btn-e">ENVIAR</div>
    </form>

  </div>
</div>
<footer data-ng-include src="'app/views/footer.html'" ng-controller="MainControllerOxfam as oxfamPie"></footer>

