<header data-ng-include src="'app/views/header.html'" ng-controller="MainControllerOxfam as oxfam"></header>
<div class="contenido_tres">
  <div class="img-arri">
    <div class="img-tit">A CERCA DE</div>
  </div>

  <div class="parrafo">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias eius itaque numquam repellat saepe.
      A asperiores culpa delectus dolores doloribus, modi neque nostrum officiis optio saepe sapiente sit vitae
      voluptates.</p><p>Ab animi architecto blanditiis deleniti expedita iure nesciunt numquam officia quos
    voluptatem. Adipisci consectetur deserunt ex facilis ipsa magni maiores, nam nostrum, officiis placeat quam,
    reiciendis repudiandae similique temporibus veniam.</p><p>Ad aperiam blanditiis consequuntur eligendi
    error eum iusto nisi, quaerat quod sequi. Adipisci alias consequatur enim excepturi illum ipsam molestiae neque,
    nostrum quo, rem, sed voluptas voluptate voluptatum. Eum, facere!</p><p>A aliquam beatae doloribus dolorum
    ducimus earum ex excepturi fuga harum id, itaque laboriosam laudantium minus, modi nihil non nulla officiis
    pariatur possimus quasi quo ratione vitae voluptatem. Impedit, perspiciatis!</p>

    <h3>COMO SE HIZO</h3>

    <p>Aliquid id perspiciatis velit! Adipisci alias consectetur cumque debitis distinctio dolorem ducimus eaque eligendi
      et in ipsum, itaque laborum, maiores molestias perspiciatis quidem quis quod reiciendis similique temporibus totam
      veritatis!</p><p>Alias consequatur corporis cum dolor et fugit incidunt maiores, molestiae mollitia nisi nobis omnis
    provident repellat? Accusantium consequuntur, ea. Aliquid aut consectetur dolorum laboriosam nulla omnis quibusdam reiciendis
    sit soluta.</p><p>Asperiores delectus, eaque fugiat harum iste iure iusto labore maiores nesciunt odio odit quo rerum vitae?
    Accusamus delectus dolor eaque enim, facilis omnis quo recusandae, repellat sint sit veniam veritatis!</p><p>Aliquam aperiam
    consectetur id officia quibusdam saepe velit, voluptate? Aspernatur consequuntur dolore dolorum eveniet facere fugiat illum
    impedit itaque maxime nemo nostrum odio provident quas reprehenderit, unde voluptas voluptate voluptatem?</p><p>Adipisci
    autem, cumque eius error, esse id ipsa officia officiis optio quod quos reiciendis temporibus voluptates. Atque cumque eius
    excepturi modi odit quia quos vel? Eum facilis inventore quo temporibus.</p><p>Beatae quisquam sed veniam! A beatae
    consectetur fugiat magni minus modi nam omnis porro quae. A adipisci asperiores beatae culpa dolor dolorum in incidunt
    ipsam porro, quisquam sequi tempora voluptatum!</p><p>A aliquid eligendi eveniet in iure omnis similique. Asperiores
    libero modi officia placeat quia, vero? Aspernatur autem dolores eligendi explicabo id iure nam odio, placeat provident
    sapiente, sed, veniam voluptatibus.</p><p>Atque commodi, consequatur cumque doloremque dolores eos eum ipsa officia
    sunt tempore? Accusamus at est hic illum iure, modi nobis odio odit optio qui quisquam repellat similique, ullam,
    veritatis voluptates?</p>

    <ul>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda culpa modi molestiae molestias neque
        officiis quae quaerat, qui quo voluptatibus! Assumenda dignissimos ea fuga illum modi quaerat tempora, ut veniam!</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda culpa modi molestiae molestias neque
        officiis quae quaerat, qui quo voluptatibus! Assumenda dignissimos ea fuga illum modi quaerat tempora, ut veniam!</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda culpa modi molestiae molestias neque
        officiis quae quaerat, qui quo voluptatibus! Assumenda dignissimos ea fuga illum modi quaerat tempora, ut veniam!</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda culpa modi molestiae molestias neque
        officiis quae quaerat, qui quo voluptatibus! Assumenda dignissimos ea fuga illum modi quaerat tempora, ut veniam!</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda culpa modi molestiae molestias neque
        officiis quae quaerat, qui quo voluptatibus! Assumenda dignissimos ea fuga illum modi quaerat tempora, ut veniam!</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda culpa modi molestiae molestias neque
        officiis quae quaerat, qui quo voluptatibus! Assumenda dignissimos ea fuga illum modi quaerat tempora, ut veniam!</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda culpa modi molestiae molestias neque
        officiis quae quaerat, qui quo voluptatibus! Assumenda dignissimos ea fuga illum modi quaerat tempora, ut veniam!</li>
    </ul>
  </div>
</div>
<footer data-ng-include src="'app/views/footer.html'" ng-controller="MainControllerOxfam as oxfamPie"></footer>

