<!--ruta:  http://localhost:3000/#/oxfam-->
<header data-ng-include src="'app/views/header.html'" ng-controller="MainControllerOxfam as oxfam"></header>
<div class="contenido">

  <div class="mano">
    <p>¿COMO SE <b class="c1">INVIERTEN</b> LOS <b class="c2">GASTOS PÚBLICOS</b> EN <b class="c3">TU PAÍS</b>?</p>
    <div class="img-mano"></div>
    <div class="img-des">DESGARGAR DATA</div>
  </div>

  <div class="america">
    <div class="img-ame"></div>
    <p>¿Qué sucede en <u><u class="c1">L</u><u class="c2">A</u><u class="c3">T</u><u class="c4">I</u><u class="c5">N</u><u class="c6">O</u>AMERICA</u>?</p>
  </div>

</div>
<footer data-ng-include src="'app/views/footer.html'" ng-controller="MainControllerOxfam as oxfamPie"></footer>
