<header data-ng-include src="'app/views/header.html'" ng-controller="MainControllerOxfam as oxfam"></header>
<div class="openData">
  <div class="centro">
    <div class="alto-ex1"></div>
    <div class="text-1">OPEN DATA</div>
    <h2>PUEDE OBTENER TODOS LOS DATOS EN FORMATO CSV O JSON</h2>
    <p>Seleccione una categoria y un indicador para obtener los datos</p>
    <div class="btn-1">Ingresos tributarios</div>
    <div class="btn-2">Ingresos tributarios totales como % del PIB</div>
    <div class="btn-3">OBTENER</div>
  </div>
  <div class="segundo">
    <div class="text-2">DESCARGAR EN FORMATO</div>
    <button class="btn-4">CSV</button>
    <button class="btn-5">JSON</button>
    <button class="btn-6">URL</button>
    <input class="ruta" type="text" placeholder="htps://url.com/style/75/"/>
    <p>*Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque eligendi perspiciatis quidem quo rem! Accusamus
      amet commodi distinctio fugiat fugit illo ipsa molestiae necessitatibus, officiis quaerat quod ratione repudiandae
      sint?</p>
  </div>
  <div class="alto-ex1"></div>
</div>
<footer data-ng-include src="'app/views/footer.html'" ng-controller="MainControllerOxfam as oxfamPie"></footer>


